@use 'variables' as *;
@use '_card';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $DMSans;
}
.container{
    width: 100%;
    background: $Cream;
    display: flex;
    justify-content: center;
    align-items: center;
}
.attribution {
    font-size: 14px;
    text-align: center;
    a { color: hsl(228, 45%, 44%); }
}
